#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
li {
  list-style: none;
}
.main_container {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Color Theme Swatches in Hex */
.BASIC-SHAPES-VIVID-COLORS-1-hex {
  color: #f2ced5;
}
.BASIC-SHAPES-VIVID-COLORS-2-hex {
  color: #030ba6;
}
.BASIC-SHAPES-VIVID-COLORS-3-hex {
  color: #03a61c;
}
.BASIC-SHAPES-VIVID-COLORS-4-hex {
  color: #f29f05;
}
.BASIC-SHAPES-VIVID-COLORS-5-hex {
  color: #f27405;
}

/* Color Theme Swatches in RGBA */
.BASIC-SHAPES-VIVID-COLORS-1-rgba {
  color: rgba(242, 205, 212, 1);
}
.BASIC-SHAPES-VIVID-COLORS-2-rgba {
  color: rgba(3, 11, 165, 1);
}
.BASIC-SHAPES-VIVID-COLORS-3-rgba {
  color: rgba(3, 165, 27, 1);
}
.BASIC-SHAPES-VIVID-COLORS-4-rgba {
  color: rgba(242, 159, 4, 1);
}
.BASIC-SHAPES-VIVID-COLORS-5-rgba {
  color: rgba(242, 115, 4, 1);
}

/* Color Theme Swatches in HSLA */
.BASIC-SHAPES-VIVID-COLORS-1-hsla {
  color: hsla(348, 58, 87, 1);
}
.BASIC-SHAPES-VIVID-COLORS-2-hsla {
  color: hsla(236, 96, 33, 1);
}
.BASIC-SHAPES-VIVID-COLORS-3-hsla {
  color: hsla(129, 96, 33, 1);
}
.BASIC-SHAPES-VIVID-COLORS-4-hsla {
  color: hsla(39, 96, 48, 1);
}
.BASIC-SHAPES-VIVID-COLORS-5-hsla {
  color: hsla(28, 96, 48, 1);
}
